@using MVCTravelBookingISE.Data.VM

@model IEnumerable<MVCTravelBookingISE.Models.BookingModel>;

@{
    ViewData["Title"] = "Booking Summary";
}

<div  class="row">
 <div class="col-md-8 offset-2">
     <div class="text-center">
         <h2>Your Booking summary</h2>
     </div>
     <table>
         <thead>
             <tr>
                 <th>Selected Amount</th>
                 <th>Accomodation</th>
                 <th>Price</th>
                 <th>SubTotal</th>
                </tr>
            </thead>
             <tbody>
               @foreach(var item in Model){
                   <tr>
                       <td class="align-middle">@item.Booking_Approved</td>
                   </tr>
               }
             </tbody>
            <tfoot>
            </tfoot>

     </table>


 </div>






</div>
