<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unlimited Travels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCTravelBookingISE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="FlightModels" asp-action="Index">
                    <img src="img/Travel App or Website Logo.png" width="85" height="85"/>UNLIMITED TRAVELS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse id=navbarColor01">
                    <ul class="navbar-nav me-auto">
                       <li class="nav-item">
                           <a class="nav-link active">Accomodation<span class="visually-hidden">(current)</span></a>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Flights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Transport</a>
                        </li>
                        <li class="navbar-nav flex-grow-1">
                            <a class="nav-link text-dark" asp.controller="FlightModelsController" asp-action="Index"> <i class="badge-info bi-film"></i></a>

                        </li>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-controller="AccomodationModels" asp-action="Create" ><i class="bi bi-search"></i>LIST YOUR PROPERTY</button>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button" data-toggle="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi-film-gear"></i> Management

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" asp-controller="FlightModels" asp-action="Index"><i tabindex=" bi-camera-reels"></i>Flights</a>
                                <a class="dropdown-item" asp-controller="AccomodationModels" asp-action="Index"><i tabindex=" bi-camera-reels"></i>Accomodation</a>
                                <a class="dropdown-item" asp-controller="BookingModels" asp-action="Index"><i tabindex=" bi-camera-reels"></i>Booking</a>
                                <a class="dropdown-item" asp-controller="TransportModel" asp-action="Index"><i tabindex=" bi-camera-reels"></i>Transportation</a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                       
                    </ul>
                    
                  
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0 glyphicon glyphicon-search" type="submit">Search</button>
                    </form>
                    <button class="btn btn-outline-primary  my-2 my-sm-0" type="submit"><i class="bi bi-search"></i>REGISTER</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i>LOGIN</button>
                     

                </div>
            </div>
        </nav>
     
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Unlimited Travels
         </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
