@model MVCTravelBookingISE.Models.AccomodationModel

@{
    ViewData["Title"] = "Update Accomodation";
}


<head>

    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<img src="https://img.freepik.com/free-vector/organic-flat-feedback-concept_52683-62653.jpg?w=996&t=st=1669410830~exp=1669411430~hmac=f546b93be7367f3438821069ee3a241a84a3eaa6d18d5018ab3c33ed4948a699" />
<h1>Rate the accomodation</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" >
           <div class="form-group">
            <div class="form-group">
                 
                <input asp-for="Acco_Rate" class="form-control" />
                <span asp-validation-for="Acco_Rate" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit rating" class="btn btn-primary float-right" />
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
            </div>
            
               
           
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
